@font-face {
  font-family: 'Friz Quadrata Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Medium'), url('friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
  }

body{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2{
  color:#ae914b;
}


 .bottom10 {
   margin-bottom: 10em;
 }

 .bottom15{
  margin-bottom: 15em;
 }

 .bottom20{
  margin-bottom: 20em;
 }

 .blueDiv{
   background-color:#14555b;
   border-style: solid;
   border-color: #ae914b;
   padding: 2px 10px 2px 10px;
   border-radius: 5px;
   margin-bottom: 10px;
   margin-top: 10px;
   font-family: "Friz Quadrata Std Medium";
 }

 .cmi{
   width:100%;
 }

.name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 .rank{
    width:50%;
    margin-bottom: 1em;
 }

 .profile{
    border: 3px solid #ae914b;
    border-radius: 2px;
    height: 250px;
}

.fade {
  opacity: 0;
}

