<html lang="en">
    <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="{{url_for('static',filename='summonerPage.css')}}" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript">
        var ChampArt0 = '{{champFullArtUrls[0]}}';
        var ChampArt1 = '{{champFullArtUrls[1]}}';
        var ChampArt2 = '{{champFullArtUrls[2]}}';
        var ChampArt3 = '{{champFullArtUrls[3]}}';
        var ChampArt4 = '{{champFullArtUrls[4]}}';
        var LoadingArt0 = '{{champSplashUrls[0]}}';
        var LoadingArt1 = '{{champSplashUrls[1]}}';
        var LoadingArt2 = '{{champSplashUrls[2]}}';
        var LoadingArt3 = '{{champSplashUrls[3]}}';
        var LoadingArt4 = '{{champSplashUrls[4]}}';
        var ChampMas0 = '{{champMasteryImageURLS[0]}}';
        var ChampMas1 = '{{champMasteryImageURLS[1]}}';
        var ChampMas2 = '{{champMasteryImageURLS[2]}}';
        var ChampMas3 = '{{champMasteryImageURLS[3]}}';
        var ChampMas4 = '{{champMasteryImageURLS[4]}}';
        var ChampMasP0 = '{{champMasteriesPoints[0]}}';
        var ChampMasP1 = '{{champMasteriesPoints[1]}}';
        var ChampMasP2 = '{{champMasteriesPoints[2]}}';
        var ChampMasP3 = '{{champMasteriesPoints[3]}}';
        var ChampMasP4 = '{{champMasteriesPoints[4]}}';
        var ChampMasName0 = '{{champMasteryNames[0]}}';
        var ChampMasName1 = '{{champMasteryNames[1]}}';
        var ChampMasName2 = '{{champMasteryNames[2]}}';
        var ChampMasName3 = '{{champMasteryNames[3]}}';
        var ChampMasName4 = '{{champMasteryNames[4]}}';
        
    </script>
      <script src="{{url_for('static',filename='champion.js')}}"></script>
    </head>
    <body style="background-image: url({{champFullArtUrls[0]}}); backdrop-filter: blur(7px) grayscale(1);">
      <div class="row bottom10">
      </div>
      <div class="row align-items-center top10">
        <div class="col"></div>
        <div class="blueDiv" align="center"><h1>{{name}}</h1></div>
        <div class="col"></div>
      </div>
      <div class="row align-items-center top10">
        <div class="col"></div>
          <div align="center"><img src="{{ icon }}" alt="Icon" class="profile"></div>
        <div class="col"></div>
      </div>
      <div class="row align-items-center top10">
        <div class="col"></div>
          <div class="blueDiv" align="center"><h1>{{rank}}</h1></div>
        <div class="col"></div>
      </div>
      <div class="row align-items-center top10">
        <div class="col"></div>
          <div align="center"><img src="{{ rankUrl }}" alt="Icon" class="rank"></div>
        <div class="col"></div>
      </div>

      <div class="row align-items-center top10">
        <div class="col"></div>
        <div class="blueDiv" align="center"><h1>Champion Mastery</h1></div>
        <div class="col"></div>
      </div>

      <div class="row align-items-center top10" style="background-color: rgba(0,0,0,0.85);">
        <div class="col-md-1">
        </div>
        <div class="col-md-2 championMasteryImage" id="0">
          <div class="blueDiv" align="center"><h2>{{ champMasteryNames[0]}}</h2></div>
          <div align="center"><img src="{{ champSplashUrls[0]}}" alt="Icon" class="cmi"></div>
        </div>
        <div class="col-md-2 championMasteryImage" id="1">
          <div class="blueDiv" align="center"><h2>{{ champMasteryNames[1]}}</h2></div>
          <div align="center"><img src="{{ champSplashUrls[1] }}" alt="Icon" class="cmi"></div>
        </div>
        <div class="col-md-2 championMasteryImage" id="2">
          <div class="blueDiv" align="center"><h2>{{ champMasteryNames[2]}}</h2></div>
          <div align="center"><img src="{{ champSplashUrls[2] }}" alt="Icon" class="cmi"></div>
        </div>
        <div class="col-md-2 championMasteryImage" id="3">
          <div class="blueDiv" align="center"><h2>{{ champMasteryNames[3]}}</h2></div>
          <div  align="center"><img src="{{ champSplashUrls[3] }}" alt="Icon" class="cmi"></div>
        </div>
        <div class="col-md-2 championMasteryImage" id="4">
          <div class="blueDiv" align="center"><h2>{{ champMasteryNames[4]}}</h2></div>
          <div align="center"><img src="{{ champSplashUrls[4]}}" alt="Icon" class="cmi"></div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </body>

</html>
